<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <% for (comment of comments) { %>
      <li><%= comment.content %></li>
      <form action="/update/<%= comment.id%>" method="post">
        <input type="text" name="content" />
        <input type="submit" value="수정하기" />
      </form>
      <form action="/delete/<%= comment.id%>" method="post">
        <input type="submit" value="삭제하기" />
      </form>
      <% } %>
    </ul>
    <hr />
    <form action="http://localhost:3000/create" name="content" method="post">
      <input type="text" name="content" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
